/* created by ToffyCaluga */
.square {
  float: left;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background: white;
  margin: 5px;
  border: 1;
  transition-duration: 0.75s;
  border-style: dashed;
  border-radius: 50px;
  align-items: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}
/* @media handheld  */
body {
  background: #232323;
  width: 98%;
  font-family: Verdana;
  font-size: 16px;
}
h1 {
  text-align: center;
  color: white;
  background: gray;
  margin: 0%;
  width: 100%;
}
#stripe {
  background: white;
  height: 30px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#menssage {
  color: black;
  text-align: center;
}
.btn {
  font-size: 100%;
  padding-bottom: 9px;
  text-align: center;
  background: white;
  border: 0;
  transition-duration: 0.5s;
}
.btn:hover {
  background: blue;
  color: white;
}
#reset {
  margin-right: 10%;
}
#easy {
  margin-left: 10%;
}
#toffy {
  text-align: right;
}
#image2 {
  /* width: 70%; */
  margin: 29px;
  color: green;
  position: relative;
  display: inline-block;
  text-align: center;
}
#image1 {
  /* width: 10%; */
  margin: 25px;
  color: white;
  position: relative;
  display: inline-block;
  text-align: center;
}
#win {
  font-size: 60%;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-40%, -50%);
}
#lose {
  position: absolute;
  left: 20%;
  top: 100%;
}
